
$primary-font: 'Lato Regular';
$primary-font-bold: 'Lato Bold';
$primary-font-light: 'Lato Light';
$darker-color: #262a32;
$secondary-darker-color: #45413e;


@mixin d-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin d-flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.product-page{
    width: 100vw;
    @include d-flex-col-center();
    background-color: #e8e2d6;
    h1{
        margin-bottom: 40px
    }
    .product-page__tabs{
        display: none;
    }
}

.product-page__prod-panel{
    width: 100%;
    padding-bottom: 10px;
    border-radius: 0 0 7px 7px;
    @include d-flex-col-center();
    background: white;

    .product-page__img-panel{
        width: 100%;
        @include d-flex-col-center();
        position: relative;

        .product-page__main-img{
            width: 100%;
        }

        .expand{
            position: absolute;
            font-size: 18px;
            top: 10px;
            left: 10px;
            color: #84bc22;
            cursor: pointer;

            &:hover{
                color: #5d8f07;
            }
        }

        
        
        .product-page__thumbnail-track{
            width: 100%;
            margin: 14px;
            @include d-flex-row-center();

            img{
                width: 19%;
                margin: 10px;
                cursor: pointer;

                &:hover{
                    border: 2px solid green
                }
            }
        }
    }
    .product-page__info-panel{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h2{
            width: 100%;
            font-family: $primary-font-bold;
            font-size: 31px;
        }
        select{
            margin: 10px 80% 10px 0;
            border: 2px solid #e8e2d6;
            border-radius: 20px;
            padding: 7px 10px;
            font-size: 14px;
        }
        .product-page__buy-op{
            margin: 10px 50% 10px 0;
            border: 2px solid #e8e2d6;
            border-radius: 25px;
            padding: 4px 10px;
            background-color: white;
            width: 120px;
            text-align: center;

            input{
                width: 20px;
                border: none;
                text-align: center;
            }
            span{
                margin: 0 10px;
                color: #999999;
            }
        }
        button{
            margin-bottom: 35px;
            padding: 8px 30px;
            border-radius: 25px;
            border: 2px solid #e8e2d6;
            background-color: #84bc22;
            color: white;
        }
        p{
            width: 100%;
            margin-top: 20px;
            font-size: 16px;
            .read-more-button{
                color: #84bc22;
                text-transform: capitalize;
                cursor: pointer;
            }
        }
    }
    .product-page__social-media{
        width: 100%;
        padding: 20px;
        @include d-flex-row-center();

        span{
            margin-right: 30px;
            color: #7e7e7e;
            font-size: 14px;
        }

        div{
            width: 200px;
            
            a{
                margin-left: 20px;
                cursor: pointer;
            }
        }
    }
    

}

.product-page__expanded-img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.advantages{
    width: 100vw;
}

@media only screen and(min-width: 320px){
    .product-page{
        padding: 10px 20px;

        h1{
            text-align: center;
        }
    }
}

@media only screen and(min-width: 320px){
    .product-page__prod-panel{
        .product-page__info-panel{
            .product-page__buy-op{
                height: 44px;
                margin-right: 10%;
                padding: 8px 0;
            }
            button{
                margin: 10px 0;
            }
        }
    }

}

@media only screen and(min-width: 768px){
    .product-page{
        .product-page__img-panel{
            width: 580px;
            padding: 20px 0;

            .expand{
                top: 40px;
                left: 20px;
    
                &:hover{
                    color: #5d8f07;
                }
            }
        }

        .product-page__info-panel{
            width: 580px;
        }

        /* .product-page__tabs{
            width: 100%;
            @include d-flex-col-center();
            background-color: white;
            padding: 20px 0;

            .product-page__tabs-headers{
                width: 100%;
                @include d-flex-row-center();

                span{
                    margin: 0 25px;
                    border-radius: 15px 15px 0 0;
                    padding: 13px 25px;
                    font-family: $primary-font-bold;
                    font-size: 24px;
                    color: rgb(192, 192, 192);
                    cursor: pointer;
                    user-select: none;
                    &:hover{
                        text-decoration: underline;
                        color: rgb(165, 165, 165);
                    }
                }
                .tab-header__active{
                    background-color: $darker-color;
                    color: white;
                }
            }

            .product-page__tab-content{
                padding: 60px;
                display: none;
                background-color: $darker-color;
                color: white;

                p{
                    width: 40%;
                    font-size: 16px;
                }
            }

            .tab-content__active{
                @include d-flex-row-center();
                justify-content: space-between;
                align-items: flex-start;
            }

        } */
    }
}

@media only screen and(min-width: 920px){
    .product-page{
        .product-page__img-panel{
            flex-direction: row;

            .expand{
                top: 60px;
            }

            .product-page__thumbnail-track{
                width: 100px;

                @include d-flex-col-center();

                img{
                    height: auto;
                    width: 100px;
                    margin: 9px;
                }
            }
        }

        .product-page__info-panel{
            h2{
                font-size: 48px;
            }
        }

        .product-page__tabs{
            width: 100%;
            @include d-flex-col-center();
            background-color: white;
            padding: 20px 0 0;

            .product-page__tabs-headers{
                width: 100%;
                @include d-flex-row-center();

                span{
                    margin: 0 25px;
                    border-radius: 15px 15px 0 0;
                    padding: 13px 25px;
                    font-family: $primary-font-bold;
                    font-size: 24px;
                    color: rgb(192, 192, 192);
                    cursor: pointer;
                    user-select: none;
                    &:hover{
                        text-decoration: underline;
                        color: rgb(165, 165, 165);
                    }
                }
                .tab-header__active{
                    background-color: $darker-color;
                    color: white;
                }
            }

            .product-page__tab-content{
                padding: 60px;
                display: none;
                background-color: $darker-color;
                color: white;

                p{
                    width: 40%;
                    font-size: 16px;
                }
            }

            .tab-content__active{
                @include d-flex-row-center();
                justify-content: space-between;
                align-items: flex-start;
            }

        }
    }
}

@media only screen and(min-width: 1280px){
    .product-page{
        .product-page__prod-panel{
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 20px;
            border-radius: 0;
            margin: 0;

            .product-page__img-panel{
                width: 50%;
                align-items: flex-start;

                .expand{
                    top: 40px
                }

                .product-page__main-img{
                    width: 700px;
                }
                
                .product-page__thumbnail-track{
                    margin-top: 0px;
    
                    img{
                        margin-top: 0px;
                    }
                }
            }

            .product-page__info-panel{
                width: 50%;
            }
        }
    }
}




