

/* GLOBAL VARIABLES ---------------------*/
$primary-font: 'Lato Regular';
$primary-font-bold: 'Lato Bold';
$primary-font-light: 'Lato Light';
$darker-color: #262a32;
$secondary-darker-color: #45413e;


footer{
    width: 80vw;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    font-size: 13px;

    .copyrights{
        margin-bottom: 20px;
        width: 100%;
    }
    
    .footer-menu{
        width: 100%;

        .footer-menu--op{
            height: 30px;
            display: flex;
            flex-direction: column;
            padding: 5px 0px;
            overflow: hidden;
            cursor: pointer;
            transition: height 150ms;

            &:hover{
                height: 200px;
            }

            span{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-transform: uppercase;
                font-weight: 700;
            }

            .footer-category__op{
                padding: 3px 10px;
            }

            p{
                padding: 10px;
            }
            
            a{
                display: block;
                margin: 10px 0px;
                color: black;
            }
        }
        .contact-md{
            display: none;
        }
        .footer-menu--md{
            display: none;
        }
    }

    .footer-social-media{
        margin: 20px 0px 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            display: block;
            margin: 0px 20px;
        }
    }
}

@media only screen and(min-width: 320px){
    
}

@media only screen and(min-width: 480px){
    footer{
        .footer-menu{
            .contact-sm{
                display: none;
            }
            .contact-md{
                display: flex;
                height: 160px;
                &:hover{
                    cursor: auto;
                    height: 160px;
                }

                p{
                    padding-left: 0;
                }
            }
        }
    }
}

@media only screen and(min-width: 768px){
    footer{
        .footer-menu{
            display: flex;
            flex-direction: row;

            .footer-menu--op{
                width: 25vw;
                margin-right: 13px;
                
            }
        }
        
    }
}

@media only screen and(min-width: 1280px){
    footer{
        .footer-menu{

            .footer-menu--sm{
                display: none;
            }
            .footer-menu--md{
                display: flex;
                height: 200px;

                a{
                    margin: 0 3px;
                }
            }

        }
    }

}