$primary-font: 'Lato Regular';
$primary-font-bold: 'Lato Bold';
$primary-font-light: 'Lato Light';
$darker-color: #262a32;
$secondary-darker-color: #45413e;

@mixin d-flex-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@mixin d-flex-row-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


header{
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 20;
    height: auto;
}

.logopanel{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: .1);

    .logopanel__button{
        display: block;
        margin: 0px 14px;
        cursor: pointer;
        font-size: 20px;
    }

}
.img-1280{
    display: none;
}
.row{
    margin-left: 0px;
}

.mega-nav{
    .headernav__buttons{
        display: none;
    }

    .headernav__lang-op{
        display: none;
    }
    .headernav__user-menu{
        display: none;
    }
}

.mega-menu__sm{
    .headernav__buttons{
        display: none;
    }
}

.headernav{
    z-index: 1000;
    width: 100vw;
    height: 0;
    color: white;

    .headernav__option{
        left: -100%;
        padding: 0px 10px 14px;
        background: $darker-color;
        transition: left 200ms;
        li{
            width: 100%;
            height: 30px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 7px 10px;
            cursor: pointer;
            transition: height 150ms;

            &:hover{
                height: auto;
            }
        }
        .nav-menu__title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            user-select: none;

        }

        .nav-menu{
            height: 25px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 5px 13px;
            font-size: 13px;
            
            &:hover{
                height: auto;
            }

            .nav-menu__op{
                width: 200px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .nav-menu__op-category{
                padding: 3px 10px;
                color: white;
            }
        }
    }
    .headernav__ellement-show{
        left: 0;
    }
    

}
.headernav__option--userfixed{
    position: fixed;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 19px 0px;
    @include d-flex-row-c();
    background: $darker-color;
    color: white;
    font-size: 20px;
    a{
        position: relative;
        margin: 0 15px;
        &:hover{
            color: #858585;
            cursor: pointer;
        }
        span{
            height: 20px;
            width: 20px;
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: white;
            border: 3px solid green;
            border-radius: 10px;
            font-family: $primary-font-bold;
            font-size: 16px;
            text-align: center;
            color: green;
        }
    }
    
}

.nav-panel__img{
    display: none;
}

@media only screen and (min-width: 321px){
    .headernav__buttons{
        display: none;
    }

    .logopanel__homelogo{
        margin: 0 auto 0 30%;
    }
    .mega-menu__sm{
        .d-flex{
            display: flex;
        }
        .nav-panel{
            display: none;
        }
    }
}
@media only screen and (min-width: 480px){
    .img-1280{
        display: block;
        height: 46px;
    }
    .img-320{
        display: none;
    }
    .logopanel{
        .logopanel__button{
            display: none;
        }
        .logopanel__homelogo{
            margin: 0 auto 0 auto;
        }
    }
    
    .mega-menu__sm{
        .headernav__buttons{
            display: flex;
        }
    }

    .active{
        display: block;
        background-color: $darker-color;
        color: white;
        cursor: pointer;
        border-bottom: 2px solid #84bc22;
    }
    .headernav__buttons{
        width: 100%;
        height: 5vh;
        position: relative;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        transition: all 150ms;

        h4{
            position: relative;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
            font-size: 14px;

            &:hover{
                background-color: $darker-color;
                color: white;
                cursor: pointer;
            }

            span{
                margin-left: 7px
            }
        }
    }
    .headernav__ellement-show{
        display: none;
    }
    .nav-panel{
        display: none;
        padding: 0 60px 0 30px;    
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $darker-color;

        .nav-panel__category-block{
            height: 380px;
            width: 26%;
            padding: 20px 0 50px 20px;
            
            span{
                margin-bottom: 5px;
                display: block;
                font-family: $primary-font-bold;
                font-size: 14px;
            }
            .nav-panel__categories{
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                a{
                    color: white;
                    width: 20vw;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px){
    header{
        height: auto;
    }
    .logopanel{
        .logopanel__homelogo{
            width: 100%;
            margin: 0 40px
        }
    }  
    .mega-nav{
        height: 100%;
        width: 100%;
        padding: 10px 0px 0px;
        @include d-flex-row-c();
        justify-content: space-around;

        .headernav__buttons{
            display: flex;
            height: 100%;
            width: 470px;

            h4{
                padding: 0 15px;
            }
        }
        .headernav__lang-op{
            display: flex;
            flex-direction: row;
            width: 200px;
            align-items: center;

            span{
                margin: 0px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                color:  #bdc3c7;
                
            }
        }
        
    }

    .mega-menu__sm{
        .headernav__buttons{
            display: none;
        }
        .nav-panel__img{
            width: 270px;
            height: 276px;
            margin: 30px 0;
            display: block;
            object-fit: cover;
        }
        .nav-panel{

            .nav-panel__category-block{

                a{
                    width: 13vw;
                }
            }
        }
    }
}
@media only screen and (min-width: 1280px){
    .logopanel{
        .logopanel__homelogo{
            width: 105px;
            margin: 0 40px;
        }
    }
    .headernav__option--userfixed{
        display: none;
    }

    .mega-nav{
        .headernav__user-menu{
            @include d-flex-row-c;
            color: #45413e;
            font-size: 20px;

            a{
                position: relative;
                margin: 0 15px;
                &:hover{
                    color: #858585;
                    cursor: pointer;
                }
                span{
                    height: 16px;
                    width: 16px;
                    position: absolute;
                    top: -5px;
                    right: -3px;
                    background-color: white;
                    border: 1px solid green;
                    border-radius: 10px;
                    font-size: 14px;
                    text-align: center;
                    color: green;
                }
            }
        }

    }


}


