/* styles on scroll track and bars */
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff; 
}
  
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/*fonts --------------------------------*/
@font-face{
    font-family: 'Lato Regular';
    src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face{
    font-family: 'Lato Bold';
    src: url('./assets/fonts/Lato-Black.ttf');
}
@font-face{
    font-family: 'Lato Light';
    src: url('./assets/fonts/Lato-Light.ttf');
}

/* GLOBAL VARIABLES ---------------------*/
$primary-font: 'Lato Regular';
$primary-font-bold: 'Lato Bold';
$primary-font-light: 'Lato Light';
$darker-color: #262a32;
$secondary-darker-color: #45413e;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: $primary-font;
    list-style: none;
}
body{
    padding: 60px 0 70px 0;
    box-sizing: border-box;
    overflow: hidden scroll;
}

.login-register{
    display: none;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    .login-register__panel{
        position: relative;
        height: 60%;
        width: 80%;
        top: 40%;
        left: 50%;
        transform: translate( -50%, -50%);
        border-radius: 5px;
        background: white;
        padding: 50px;
    }
}

@media only screen and (min-width: 768px){

}


